@value makerGreen,makerLightGrey from '../../common/colors.css';

.preview {
  flex-basis: 50%;
  background-color: makerLightGrey;
}

.title {
  width: 100%;
  text-align: center;
  color: makerGreen;
}
