@value makerGreen,makerLightGrey from '../../common/colors.css';

.editor {
  flex-basis: 50%;
  background-color: makerLightGrey;
  border-right: 1px dashed makerGreen;
  padding: 0.5em 2em;
}

.title {
  width: 100%;
  text-align: center;
  color: makerGreen;
}
